.card-bg{
    background: #4caf50 !important;
}
.btn-bg{
    background: #4caf50 !important;
}
.card-paciente{
    background: #4caf50 !important;
}
.btn-paciente{
    background: #4caf50 !important;
}