.card-bg{
    background: #0a8d0a !important;
}
.btn-bg{
    background: #0a8d0a !important;
}
.card-paciente{
    background: #51afee !important;
}
.btn-paciente{
    background: #51afee !important;
}